.archiveContainer {
  width: 100%;
}

.archiveContainer .pageTitle {
  padding-left: 15px;

  margin-bottom: 30px;

  font-size: 2rem;
  font-weight: 700;

  border-left: 5px solid;
  border-image: linear-gradient(to bottom, #7f00ff, #e100ff) 1;

  /* 為了讓文字有漸變色 */
  background: linear-gradient(to right, #120c47, #a40b98, #f5076a);
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;

  /* 讓大小和文字占用寬度相同，以此達到漸變效果 */
  display: inline-block;
}

.archiveContainer .listGrid {
  display: flex;
  flex-direction: column; /* 讓卡片由上往下排 */
  gap: 20px; /* 卡片之間的間距 */
}

/* 長方形卡片本體 */
.listGrid .postCard {
  padding: 25px;

  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 12px;

  display: block; /* Link 預設是 inline，要改成 block 才能設寬高 padding */

  text-decoration: none; /* 拿掉連結底線 */
  color: inherit; /* 繼承原本文字顏色 */

  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

/* 滑鼠移上去時，浮起來 + 變色 */
.postCard:hover {
  transform: translateY(-5px); /* 往上浮一點 */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-color: darkviolet; /* 邊框變色 */
}

.listGrid .title {
  margin-bottom: 10px;

  font-size: 1.5rem;
  color: #333;
}

/* 讓標題在 hover 時也變色 */
.postCard:hover .title {
  color: darkviolet;
}

.listGrid .cardTag {
}

.cardTag .date {
  padding: 4px 8px;

  /* background: #f5f5f5;
  border-radius: 4px;

  font-size: 0.85rem;
  color: #888; */

  background: rgba(148, 0, 211, 0.1);

  color: rgb(59, 89, 222);

  border-radius: 20px;
  font-size: 0.85rem;
  font-weight: 500;
}

.description {
  margin-top: 15px;
  margin-bottom: 15px;

  color: #666;
  line-height: 1.6;
}

.readMore {
  font-size: 0.9rem;
  font-weight: bold;

  color: darkviolet;
}
