.container {
  padding: 20px;

  background-color: rgb(240, 168, 240);
  /* lighter than violet */
  border-radius: 15px;

  flex: 5;
  overflow-y: auto;
}

.title {
  color: #333;
  margin-bottom: 10px;
}
