.header {
    width: 100%;
    height: 10%;
    padding: 20px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* make sure at the top*/
    position: sticky;
    top: 0;
    z-index: 100;
}

.leftSection {
    flex:1 ;
    display: flex;
    justify-content: flex-start;
}

.leftSection .logo {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    
    color: darkviolet;

    margin: 0;
    white-space: nowrap;
}

.centerSection {
    flex: 1;
    display: flex;
    justify-content: center;

}

.centerSection .navList {
    font-size: 0.9 rem;

    padding: 0;
    margin: 0;

    gap: 20px;

    display: flex;
    list-style: none;
}

.rightSection {
    gap: 20px;

    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.rightSection .actionItem {
    font-size: 0.9 rem;
    color: slateblue;

    cursor: pointer;
}