.sidebar {
	background-color: #c39bc3;
	border-right: 1px solid #ddd;
	border-radius: 15px;

	padding: 20px;

	gap: 10px;

	flex: 2;
	display: flex;
	flex-direction: column;
}

.sidebar .divider {
	width: 100%;
	height: 1px;

	margin: 0;
	border: 0;

	background: rgba(255, 255, 255, 0.3);
}

.sidebar .section {
	display: flex;
	flex-direction: column;
}

.section .title {
	font-size: 1rem;
	margin: 0 0 12px 0;
	color: black;
	font-weight: bold;

	border-left: 4px solid black;
	padding-left: 10px;
}

/* ------------ profile ------------- */

.profileSection {
	display: flex;
	flex-direction: column;
	align-items: center;

	text-align: center;
}

.avatarWrapper {
	width: 100px;
	height: 100px;

	border-radius: 50%;
	overflow: hidden;

	margin-bottom: 10px;

	border: 4px solid rgba(255, 255, 255, 0.7);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

	position: relative;
}

.avatar {
	/* width: 100%;
    height: 100%;
    
    object-fit: cover;
    object-position: left center;
    object-position: 20% center; */
	/* 用絕對位置替換上面的方法，上面的方法容易導致圖片失真 */

	height: 125%;
	width: auto;
	/* 寬度自動，保持比例不變形 */

	position: absolute;

	/* 平移對焦
       利用 left 和 top 來移動這張縮小後的圖
       因為頭在左邊，所以要往左移 (負數)。*/
	left: -35%;
	top: -25%;

	display: block;
}

/* ------------ category ------------ */

.list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 5px; /* 選單項目之間的間距 */
}

.list .listItem {
	display: flex;
	justify-content: space-between; /* 文字靠左，數字靠右 */
	padding: 10px 12px;
	border-radius: 8px;
	cursor: pointer;

	color: rgba(255, 255, 255, 0.9);
	transition: all 0.2s ease;
}

.list .listItem:hover {
	/* Hover 時變成灰色背景 */
	background-color: rgba(255, 255, 255, 0.2);
	color: #fff;
	padding-left: 18px; /* 做一個微小的位移動畫 */
}

.listItem .count {
	font-size: 0.85rem;
	opacity: 0.7;
}

/* -------------- tag --------------- */

.tagCloud {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.tag {
	font-size: 0.85rem;
	padding: 6px 14px;
	border-radius: 20px;
	cursor: pointer;

	background-color: rgba(255, 255, 255, 0.4);
	color: #333;

	transition: all 0.2s;
}

.tag:hover {
	background-color: rgba(243, 240, 240, 0.512);
	color: #c39bc3;
	transform: translateY(-2px);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
