.sidebar {
    background-color: #c39bc3;
    border-right: 1px solid #ddd;
    border-radius: 15px;
    
    padding: 20px; 
    
    gap: 10px;

    flex: 2;
    display: flex;
    flex-direction: column;
}

.sidebar .divider {
    width: 100%;
    height: 1px;

    margin: 0;
    border: 0;
    
    background: rgba(255, 255, 255, 0.3); 
}

.sidebar .section {
    display: flex;
    flex-direction: column;
}

.section .title {
    font-size: 1rem;
    margin: 0 0 12px 0;
    color: black;
    font-weight: bold;
    
    border-left: 4px solid black;
    padding-left: 10px;
}

/* ------------ profile ------------- */

.profileSection {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.avatarWrapper {
    width: 100px;
    height: 100px;
    
    border-radius: 50%;
    overflow: hidden; 
    
    margin-bottom: 10px;
    
    border: 4px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.avatar {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    
    display: block; 
}

/* ------------ category ------------ */

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px; /* 選單項目之間的間距 */
}

.list .listItem {
    display: flex;
    justify-content: space-between; /* 文字靠左，數字靠右 */
    padding: 10px 12px;
    border-radius: 8px;
    cursor: pointer;
    
    /* 預設文字顏色 (深紫或深灰) */
    color: rgba(255, 255, 255, 0.9); 
    transition: all 0.2s ease;
}

.list .listItem:hover {
    /* Hover 時變成半透明白色背景 */
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    padding-left: 18px; /* 做一個微小的位移動畫 */
}

.listItem .count {
    font-size: 0.85rem;
    opacity: 0.7;
}

/* -------------- tag --------------- */

.tagCloud {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.tag {
    font-size: 0.85rem;
    padding: 6px 14px;
    border-radius: 20px;
    cursor: pointer;
    
    background-color: rgba(255, 255, 255, 0.4);
    color: #333;
    
    transition: all 0.2s;
}

.tag:hover {
    background-color: rgba(243, 240, 240, 0.512);
    color: #c39bc3;
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}