.sidebar {
    background-color: #c39bc3;
    border-right: 1px solid #ddd;
    border-radius: 15px;
    
    padding: 20px;

    flex: 2;
    display: flex;
    flex-direction: column;
}

.menuItem {
    padding: 10px;

    cursor: pointer;
    color: #555;
}

.menuItem:hover {
    background-color: #e0e0e0;
    color: #000;
}