* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #F3E5F5;
  color: #333;
}

html, body, #root {
  height: 100%;
  width: 100%;
}