*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* 避免沒有滾動條的頁面切換到有滾動條頁面會出現閃動 */
  scrollbar-gutter: stable;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f3e5f5;
  color: #333;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}
